VITE_FIREBASE_API_KEY=AIzaSyCw0Sx31VwTCd3wVGH6HSdfRjCSOtpp6d8
VITE_FIREBASE_AUTH_DOMAIN="immutableops-d22f9.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="immutableops-d22f9"
VITE_FIREBASE_STORAGE_BUCKET="immutableops-d22f9.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="110165435531"
VITE_FIREBASE_APP_ID="1:110165435531:web:f6a4e4089a2695ec76e08e"
VITE_AI_ENDPOINT=https://your-cloud-functions-url
